/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */
/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

/* Basic Styles */
body {
  background-color: #ece8e5;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', Arial, sans-serif;
}

/* Nav */
nav {
  height: 60px;
  width: 100%;
  background: #1955A4;
  opacity: 0.8;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  position: fixed;
  z-index: 999;
  top: 0;
  border-bottom: 5px solid #283744;
  margin-bottom: 61px;
}
nav img {
  position: absolute;
  margin: 10px;
}
nav ul {
  padding: 0;
  margin: 0 auto;
  margin-right: 0;
  width: 660px;
  height: 60px;
}
nav li {
  display: inline;
  float: left;
}
nav a {
  color: #fff;
  display: inline-block;
  width: 110px;
  text-align: center;
  text-decoration: none;
  line-height: 60px;
  text-shadow: 1px 1px 0px #283744;
}
nav li a {
  border-right: 1px solid #576979;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
nav li:last-child a {
  border-right: 0;
}
nav a:hover, nav a:active {
  margin-bottom: 5px;
  border-bottom: 5px solid #8c99a4;
}
nav a#pull {
  display: none;
}
/* slider */

.slideWrapper {
  width: 100vw;
  margin: 0 auto;
  margin-top: 61px;
  text-align: center;
}
.content {
  /*width: 100vw;*/
  margin: 0 auto;
  position: relative;
}
hr {
  height: 2px;
  color: white;
  box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.25);

}
section {
  background-color: white;
  border: 1px solid #4D4D4D;
  box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.75);
  margin-top: 3em;
  padding: 5em;
}
.section-wrap {
  padding-top: 2em;
}

section#tlumaczenia {
  margin-top: 3em;
  padding: 5em;
  background-image: url("../img/tlumaczenia-1200x600.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#tlumaczenia  h2 {
  color: #4D4D4D;
  font-size: 2em;
  text-align: left;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 3em;
}
#tlumaczenia p {
  text-align:center;
  color: #4D4D4D;
  font-size: 1.5em;
}
#tlumaczenia span {
  color: #666;
  font-weight: 600;
}
#tlumaczenia a {
  color: #1955A4;
  text-decoration: none;
}
img.icon {
  width: 32px;
  height: 32px;
}









/* Styles for screen 720px and lower */
@media screen and (max-width: 720px) {
  /* nav */
  nav {
    height: auto;
    border-bottom: 0;
  }
  nav > img {
    display: none;
  }
  nav ul {
    width: 100%;
    display: none;
    height: auto;
  }
  nav li {
    position: relative;
    display: block;
    float: none;
    width: 100%;
  }
  nav li a {
    border-bottom: 1px solid #576979;
    border-right: 1px solid #576979;
    border-bottom: 1px solid #576979;
  }
  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
  }
  nav a:hover, nav a:active {
    background-color: #8c99a4;
    padding: 0;
    margin: 0;
    border: 0;
  }
  nav a#pull {
    display: block;
    background-color: #283744;
    width: 100%;
    position: relative;
    height: 60px;
  }
  nav a#pull:after {
    content:"";
    background: url('../img/nav-icon.png') no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 20px;
  }
  /* slider */
}









/* ==========================================================================
Helper classes
========================================================================== */

/*
* Hide visually and from screen readers
*/

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
    http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
  * Don't show links that are fragment identifiers,
  * or use the `javascript:` pseudo protocol
  */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
  * Printing Tables:
  * http://css-discuss.incutio.com/wiki/Printing_Tables
  */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
